@model Proyecto_Progra.Models.USUARIO

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>USUARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTRASENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRASENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Mostrar", new { id = Model.ID_USUARIO }) |
    @Html.ActionLink("Back to List", "Mostrar")
</p>
